body {
    
    background-color: #cccccc;
    background: url(myhero2.jpg);
   }
   h1{
    font-family: 'Bangers', cursive;
      font-size: 50px;
      TEXT-ALIGN: CENTER;
   }
   #title{
       
       COLOR:rgb(250, 197, 37);
       font-size: 80px
   }
   #wrapper{
       color: #FAD55C;
       color: #6b8bff;
       
   }
   #start{
    display: block;
    margin: 0 auto;
   }
   #subwrapper{
    margin-left: 25px;
   }
   h2{
       color:#ce0146;
       font-size: 30px;
   }
   h3{
       font-size: 40px;
       color:rgba(238, 222, 0, 0.925)
       width: 200px;
       height: 55px;
       border: 1px solid blue;
       background: #030621;
       text-align: center
       
         }
   #end{
    display: block;
    margin: 0 auto;
   }